# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#IDE
.idea/
.vscode/

# dependencies
/node_modules
/.pnp
.pnp.js
/.yarn
/.next

# testing
/coverage

# vite
/dist/

# production
/build
/public/fonts/*

# misc
.DS_Store
*.pem

# claude code local (per-developer) settings
.claude/settings.local.json

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.stage.local

# typescript
*.tsbuildinfo

.release

# sleuth
src/helpers/cache
src/helpers/sleuth/out/CometQuery.sol/*
!src/helpers/sleuth/out/CometQuery.sol/CometQuery.json
