@use '../abstracts/variables' as *;

.asset-row {
  display: flex;
  position: relative;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 0.5rem;
  padding: 1.125rem 1.25rem;

  &--active {
    background: var(--ui--foreground--2);
  }

  &__hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 40%;
    background: var(--ui--foreground--2);
    border-radius: 0.5rem;
    opacity: 0;
    transition: opacity 300ms ease;
    z-index: 1;

    &--active {
      opacity: 1;
    }
  }

  .meta {
    color: var(--text--2);
    min-height: var(--meta-line-height);
  }

  .meta + .meta {
    margin-left: 0.25rem;
    margin-top: 0;
  }

  &__detail-content {
    align-items: center;
    display: flex;
    width: 40%;
    z-index: 5;
    cursor: pointer;
  }

  &__info {
    margin-left: 0.75rem;
    width: 100%;

    &__details {
      align-items: flex-end;
      display: flex;
    }
  }

  &__balance {
    width: calc(60% - $actions-width);
    margin-left: auto;
    text-align: right;
  }

  &__actions {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    white-space: nowrap;
    width: $actions-width;
    text-align: right;

    .button {
      &:not(.button--deselected) {
        .svg:not(:only-child) {
          margin-right: 0;
        }
      }

      .svg + span {
        margin-left: 0.5rem;
      }
    }

    .button + .button {
      margin-left: 0.5rem;
    }
  }

  @media (max-width: $device--sm) {
    &__detail-content {
      width: 66%;
    }

    &__hover {
      display: none;
    }

    &__balance {
      width: fit-content;
      min-width: calc(60% - 7.25rem);
    }

    &__actions {
      display: none;
    }
  }

  &__collateral-swap-label {
    padding: 0 1.25rem;
    margin-bottom: 0.875rem;
  }

  &__mobile-collateral-swap {
    height: 2.75rem;
    width: 2.75rem;
    background: url("../../public/images/collateral-swap/dark/arrow-dark.svg") no-repeat center center / contain;
    transform: rotate(180deg);

    &--disabled {
      background: url("../../public/images/collateral-swap/dark/arrow-dark-disabled.svg") no-repeat center center / contain;
    }

    &--active {
      background: url("../../public/images/collateral-swap/dark/arrow-dark-active.svg") no-repeat center center / contain;
    }

    &--transformed {
      transform: rotate(0);
    }
  }
}

.theme--light {
  .asset-row {
    &__mobile-collateral-swap {
      background: url("../../public/images/collateral-swap/light/arrow-light.svg") no-repeat center center / contain;

      &--disabled {
        background: url("../../public/images/collateral-swap/light/arrow-light-disabled.svg") no-repeat center center / contain;
      }

      &--active {
        background: url("../../public/images/collateral-swap/light/arrow-light-active.svg") no-repeat center center / contain;
      }
    }
  }
}
