.position-card-no-asset {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;

  &__summary {
    font-size: 0.875rem;
    color: var(--text--3);
    font-weight: 500;
    line-height: 140%;
    width: 100%;
    max-width: 16rem;
    text-align: center;
  }

  &__img {
    width: 11rem;
    height: 5rem;
    background-image: url('../../public/images/no-assets-icon.png');
    background-size: contain;
  }
}

.theme--light {
  .position-card-no-asset {
    &__img {
      background-image: url('../../public/images/no-assets-icon-light.png');
    }
  }
}